h1{
    text-align: center;
    font-style: oblique;
    font-family: times;
    color: #C70039;
    font-size: 100px;
    font-weight: bolder;

}
h2{
    text-align: center;
    font-weight: bold;
    color:#C70039;
        font-style: oblique;
     font-size: 50px;
    font-family: times;
}
body{
    background-image: url("http://www.cosmotography.com/images/close_new_m101.jpg");
}
#message{
     border:solid;
    height: 400px;
}